<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" (click)="dashboard()"></ion-icon>
  </ion-buttons>
    <ion-title>Peminjaman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-6>No</ion-col>
        <ion-col col-6>No Anggota</ion-col>
        <ion-col col-6>Kode Buku</ion-col>
        <ion-col col-6>Tanggal Pinjam</ion-col>
        <ion-col col-6>Status</ion-col>
        <ion-col col-6></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<ion-card>
  <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-6>1</ion-col>
            <ion-col col-6>18002</ion-col>
            <ion-col col-6>230A</ion-col>
            <ion-col col-6>12-01-2020</ion-col>
            <ion-col col-6>26 hari</ion-col>
            <ion-col col-6>
                  <ion-icon (click)="_popover($event)"  name="ellipsis-vertical"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-list>
</ion-card>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="scanCode()">
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
