<ion-content>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-icon name="arrow-back-outline" size="small" (click)="pengembalian()"></ion-icon>
</ion-buttons>
<ion-title>Scan QR Code</ion-title>
</ion-toolbar>

<ion-card style="padding-top: 10px;">
  <div class="QR"></div>
    <ion-button class="btn" color="primary" fill="solid" (click)="savekembali()">SCANNING</ion-button>
    <div linespace></div>
</ion-card>

</ion-content>
