ion-content{
    --background: #ffecae;
}

ion-toolbar{
    --background: #ffecae;
}

ion-title{
    text-align : center;
}


ion-button{
    padding-left: 90px;
}

[linespace]{
    height: 30px;
}

img{
    width: 250px;
    margin:auto;
    display: block;
}

.btn{
    margin-left: auto;
    margin-right: auto; 
}

.QR{
    width: 250px;
    height: 350px;
    margin: 0 auto;
    background: black;
}