<ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-button slot="end" color="medium" size="small" style="padding-right: 5px;" (click)="logout()">
      Keluar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
<ion-row>
  <ion-col col-6>
    <ion-card color="danger" (click)="profil()">
      <ion-icon name="person"></ion-icon>
      <h4>Profile</h4>
    </ion-card>
  </ion-col>
  <ion-col col-6>
    <ion-card color="danger" (click)="klikdatabuku()">
      <ion-icon name="book"></ion-icon>
      <h4>Data Buku</h4>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-6>
    <ion-card color="danger" (click)="klikdataanggota()">
      <ion-icon name="people"></ion-icon>
      <h4>Data Anggota</h4>
    </ion-card>
  </ion-col>
  <ion-col col-6>
    <ion-card color="danger" (click)="klikdatapetugas()">
      <ion-icon name="people-circle"></ion-icon>
      <h4>Data Petugas</h4>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-6>
    <ion-card color="danger" (click)="klikpinjam()">
      <ion-icon name="save"></ion-icon>
      <h4>Peminjaman</h4>
    </ion-card>
  </ion-col>
  <ion-col col-6>
    <ion-card color="danger" (click)="klikpengembalian()">
      <ion-icon name="file-tray"></ion-icon>
      <h4>Pengembalian</h4>
    </ion-card> 
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
</ion-router-outlet>