<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">{{book?.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-admin/data-buku"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="book" src="{{book?.cover}}">
      <div class="input">
    <ion-item>
      <ion-label position="stacked">Judul Buku</ion-label>
      <ion-text
        type="text">{{book?.title}}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Kode Buku</ion-label>
      <ion-text
        type="text"
      >{{book?.id}}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Penulis</ion-label>
      <ion-text
        type="text"
      >{{book?.penulis}}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Penerbit</ion-label>
      <ion-text
        type="text"
      >{{book?.penerbit}}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Halaman</ion-label>
      <ion-text
      >{{book?.halaman}}
      </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Stock</ion-label>
      <ion-text
        type="text"
      >{{book?.stok}}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Kategori</ion-label>
      <ion-text slot="end">
        <ion-label>{{book?.category}}</ion-label>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Deskripsi</ion-label>
      <ion-text
        type="text"
      >{{book?.deskripsi}}
      </ion-text>
    </ion-item>
  </div>
    <ion-button expand="block" fill="outline" color="danger">Edit Buku</ion-button>
</ion-content>