<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" (click)="dashboard()"></ion-icon>
  </ion-buttons>
    <ion-title>Data Anggota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-7>No</ion-col>
        <ion-col col-7>No Anggota</ion-col>
        <ion-col col-7>Nama</ion-col>
        <ion-col col-7>Alamat</ion-col>
        <ion-col col-7>Tanggal Lahir</ion-col>
        <ion-col col-7>Nomor Handphone</ion-col>
        <ion-col col-7></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<ion-card>
  <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-7>1</ion-col>
            <ion-col col-7>18002</ion-col>
            <ion-col col-7>Hani Rahmawati</ion-col>
            <ion-col col-7>Yogyakarta</ion-col>
            <ion-col col-7>18-01-02</ion-col>
            <ion-col col-7>0812345678</ion-col>
            <ion-col col-7>
                  <ion-icon (click)="_popover($event)"  name="ellipsis-vertical"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-list>
</ion-card>
</ion-content>
