
<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Edit profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div linee></div>
  <ion-avatar>
    <img style="border-radius: 20px;" src="{{user.profileUrl == undefined ? './assets/profil.png':user.profileUrl.url}}">
  </ion-avatar>
<ion-title style="text-align: center;">{{user.name}}</ion-title>
<ion-buttons>
  <ion-button fill="clear" color="danger" size="small" (click)="takePicture()" style="margin-left:auto;margin-right: auto;">Change Photo</ion-button>
  </ion-buttons>
<div linespace></div>
<ion-list>
  <ion-item>
    <ion-label>
    <p>Nomor Anggota</p>
      <ion-input [(ngModel)]="user.noAnggota"></ion-input>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
    <p>Nama</p>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-label>
  </ion-item>
  <div style="margin-left: -5%;">
    <ion-item>
      <ion-label>
      <p  id="teks">E-mail</p>
        <h3>{{user.email}}</h3>
      </ion-label>
    </ion-item>
  </div>
    <ion-item>
    <ion-label>
    <p>Alamat</p>
      <ion-input [(ngModel)]="user.address"></ion-input>
      </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
    <p>Nomor Handphone</p>
      <ion-input [(ngModel)]="user.noHp"></ion-input>
    </ion-label>
  </ion-item>
</ion-list>
<ion-buttons>
  <ion-button color="danger" fill="outline" extend="block" style="margin-left:auto;margin-right: auto;" (click)="saveData()">Save</ion-button>
</ion-buttons>
</ion-content>