<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="small" (click)="dashboard()"></ion-icon>
  </ion-buttons>
    <ion-title style="text-align: center;">profile</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div linee></div>
  <ion-avatar>
    <img style="border-radius: 20px;" src="{{user.profileUrl == undefined ? './assets/profil.png':user.profileUrl.url}}">
  </ion-avatar>
<ion-title style="text-align: center;">{{user.name}}</ion-title>
<div linespace></div>
<ion-list>
  <ion-item>
    <ion-label>
    <p>Nomor Anggota</p>
      <h3>{{user.noAnggota}}</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
    <p>Nama</p>
      <h3>{{user.name}}</h3>
    </ion-label>
  </ion-item>
    <ion-item>
      <ion-label>
      <p>E-mail</p>
        <h3>{{userData.email}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
    <ion-label>
    <p>Alamat</p>
      <h3>{{user.address}}</h3>
      </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
    <p>Nomor Handphone</p>
      <h3>{{user.noHp}}</h3>
    </ion-label>
  </ion-item>
</ion-list>
<ion-buttons>
  <ion-button color="danger" fill="clear" extend="block" style="margin-left:auto;margin-right: auto;" (click)="updateProfile()">Edit Profile</ion-button>
</ion-buttons>
</ion-content>