<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Konfirmasi Pemesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="./assets/profil.png">
  </ion-avatar>

<ion-list>
  <ion-item>
    <ion-label>
      <h3>No Anggota</h3>
    </ion-label>
    <ion-note slot="end">
      87654
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Kode Buku</h3>
    </ion-label>
    <ion-note slot="end">
      217B
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Judul Buku</h3>
    </ion-label>
    <ion-note slot="end">
      The Book of Lost Friends
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Penulis</h3>
    </ion-label>
    <ion-note slot="end">
      Lisa Wilangate
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Halaman</h3>
    </ion-label>
    <ion-note slot="end">
      352 hal
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Diterbitkan</h3>
    </ion-label>
    <ion-note slot="end">
      7 April2020; Ballantine Books
    </ion-note>
  </ion-item>
</ion-list>

<ion-button color="primary" fill="solid" expand="block" (click)="peminjaman()">Mengijinkan Peminjaman</ion-button>
</ion-content>
