<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
 

    <ion-title style="font-size: medium; text-align: center;">{{book?.title}}</ion-title>
  </ion-toolbar>

  
</ion-header>

<ion-content>
  <img class="book" src="{{book?.cover}}">
  <ion-button expand="block" style="padding-left: 5px;padding-right: 5px;" (click)="addtoPesan()">{{addText}}</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{book?.penulis}}</ion-card-subtitle>
      <ion-card-title>{{book?.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     {{book?.deskripsi}}

     <br>Halaman : {{book?.halaman}}
    <br>Stock Buku : {{book?.stok}}
    </ion-card-content>
  </ion-card>
</ion-content>
