<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size: 17px;">Konfirmasi Pengembalian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <img class="book" src="./assets/code.png">
</div>
  <ion-label class="scan">Scan QR Code Pada Admin</ion-label>

<ion-list>
  <ion-item>
    <ion-label>
      <h3>No Anggota</h3>
    </ion-label>
    <ion-note slot="end">
      87654
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Kode Buku</h3>
    </ion-label>
    <ion-note slot="end">
      217B
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Judul Buku</h3>
    </ion-label>
    <ion-note slot="end">
      The Book of Lost Friends
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Tanggal Peminjaman</h3>
    </ion-label>
    <ion-note slot="end">
      12-01-2020
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Tanggal Pengembalian</h3>
    </ion-label>
    <ion-note slot="end">
      18-01-2020
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Denda</h3>
    </ion-label>
    <ion-note slot="end">
      -
    </ion-note>
  </ion-item>
</ion-list>
</ion-content>
