<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='home-admin'></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;">Data Buku</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="add-sharp" size="large" color="primary" (click)="tambahbuku()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  
  <ion-card>
    <ion-grid>
      <ion-item
      *ngFor="let book of books"
      routerLink="/home-admin/data-buku/detail-buku/{{book.id}}"
      >
      <ion-row>
        <ion-col size="4">
          <img src="{{book.data.cover == undefined ? './assets/profil.png':book.data.cover}}">
        </ion-col>
        <ion-col size="8">
          <ion-label><b>{{book.data.title}} </b>
            <br> Kode Buku  : {{book.data.id}}
            <br> Penulis    : {{book.data.penulis}}
            <br> Penerbit   : {{book.data.penerbit}}
            <br> Halaman    : {{book.data.halaman}}
            <br> Stock      : {{book.data.stok}}
            <br> Kategori   : {{book.data.category}}
         </ion-label>
        </ion-col >
      </ion-row>
  </ion-item>
    </ion-grid>
  </ion-card>

</ion-content>