<ion-app>
  <ion-router-outlet></ion-router-outlet>
  </ion-app>
<ion-content>
  <div class="ion-padding">
<img class="logo" src="./assets/poto.png">

<h3>perpusKu</h3>
</div>
<div space></div>

  <form [formGroup]="loginForm" (submit)="login()">  
<div class="input">
  <ion-item transparent>
    <ion-icon name="person-outline"></ion-icon>
    <ion-input formControlName="email" placeholder="your@email.com" type="email"></ion-input>
  </ion-item>

  <ion-item transparent>
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
  </ion-item>

  <ion-label style="color: blue;" (click)="goToReset()">Lupa Kata Sandi</ion-label>
  <div linespace></div>
  <ion-button type="submit" color="primary" fill="solid" expand="block" [disabled]="!loginForm.valid">LOGIN</ion-button>
  <ion-label class="ion-padding" >Tidak Punya Akun? <span class="link-button" style="color:blue;" (click)="goToSignUp()">Daftar</span>
  </ion-label> 
</div>
</form>


</ion-content> 
