ion-content {
    --background: #ffecae;
}


[space]{
    height: 10px;
}

.ion-padding {
        text-align: center;
    }

.logo{
    display : block;
    width: 80px;
    margin: 0 auto;
    }

h3{
    font-family: "chewy";
    color: #0F8EAA;
}

[transparent]{
    --background: transparent;
}

ion-input{
    --color : black;
    --padding-bottom: 5px;
    --padding-top: 10px;
    --padding-start: 5px;
    font-size: 15px;
    text-indent: 1px;
    padding-left: 10px !important;
}

ion-icon{
    width : 30px;
}

ion-item{
    --highlight-color-focused: transparent;
    --highlight-height:0;
    --highlight-color-invalid:black;
    --highlight-color-valid:white;
    --min-height: 65px;
    --padding-start:0;
}

[linespace]{
    height: 30px;
}

ion-label{
    color: black;
    display:block;
    font-size: 13px;
    text-align: right;
    padding: 10px;
}

.input{
    position: absolute;
    left:50%;
    top: 57%;
    -webkit-transform: translate(-49%, -49%);
    transform: translate(-49%, -49%);
    width: 90%;
}

ion-button{
    margin: auto; 
    text-align: center;
}
