<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs>

      
  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/tabs/tab1">
    <ion-tab-button tab="tab1">
      <ion-icon name="book-sharp"></ion-icon>
      <ion-label>Perpustakaan</ion-label>
    </ion-tab-button>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/tab2">
    <ion-tab-button tab="tab2">
      <ion-icon name="albums-sharp"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
