<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Buku</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home-admin/data-buku"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createBookForm" (submit)="createBook(createBookForm.value)">
    <!--<img src="./assets/default-book.png">
    <ion-buttons >
      <ion-button fill="clear" color="danger" style="margin-left:auto;margin-right: auto;">Change Picture</ion-button>
    </ion-buttons> -->
    <ion-card>
      <div class="input">
    <ion-item>
      <ion-label position="stacked">Judul Buku</ion-label>
      <ion-input 
      type="text" 
      formControlName="judul"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Kode Buku</ion-label>
      <ion-input
      type="text" 
      formControlName="kodeBuku"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Penulis</ion-label>
      <ion-input
      type="text" 
      formControlName="penulis"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Penerbit</ion-label>
      <ion-input
      type="text" 
      formControlName="penerbit"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Halaman</ion-label>
      <ion-input
      type="text" 
      formControlName="halaman"
      >
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Stock</ion-label>
      <ion-input
      type="text" 
      formControlName="stok"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Kategori</ion-label>
      <ion-select value="Pendidikan" formControlName="kategori">
        <ion-select-option value="Agama">Agama</ion-select-option>
        <ion-select-option value="Fiksi">Fiksi</ion-select-option>
        <ion-select-option value="Hiburan">Hiburan</ion-select-option>
        <ion-select-option value="Hukum">Hukum</ion-select-option>
        <ion-select-option value="Kamus">Kamus</ion-select-option>
        <ion-select-option value="Non-fiksi">Non-fiksi</ion-select-option>
        <ion-select-option value="Pendidikan">Pendidikan</ion-select-option>
        <ion-select-option value="Sastra">Sastra</ion-select-option>
        <ion-select-option value="Teknologi">Teknologi</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Deskripsi</ion-label>
      <ion-textarea
      type="text" 
      formControlName="deskripsi"
      >
      </ion-textarea>
    </ion-item>
  </div>
  <div linespace></div>
  <input style="padding-left: 5%;" type="file" (change)="fileChanged($event)" formControlName="cover" />
  <div space></div>
  </ion-card>
    <ion-button expand="block" fill="outline" color="danger" [disabled]="!createBookForm.valid" type="submit">
      Tambah Buku
    </ion-button>
 </form>
</ion-content>
