[linespace]{
    height: 10px;
}

ion-button{
    margin-left: auto;
    margin-right: auto;
}

[space]{
    height: 10px;
}

.input{
    top: 57%;
    padding-left: 5%;
    width: 90%;
}

.pict {
    margin-left: 27%;
    margin-top: 5px;
    width: 150px;
    height: 170px;
}

ion-button{
    margin-left: 10px;
    margin-right: 10px; 
    text-align: center;

}