<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Riwayat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Riwayat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="segmentChanged($event)" value="pinjam">
    <ion-segment-button value="pinjam">
      <ion-label>Dipinjam</ion-label>
    </ion-segment-button>
    <ion-segment-button value="kembali">
      <ion-label>Dikembalikan</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment == 'pinjam'">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div>
              <img src="./assets/bindo.jpg">
            <ion-label>Bahasa Indone..</ion-label>
            <ion-label style="font-size: 15px; color:blue; text-decoration: underline; " (click)="konfkembali()">Kembali</ion-label>
                    </div>
        </ion-col>
        <ion-col size="3">
          <div>
              <img src="./assets/falsafah_hidup.jpg">
            <ion-label>Falsafah Hidup</ion-label>
            <ion-label style="font-size: 15px; color:blue; text-decoration: underline; " (click)="konfkembali()"><br>Kembali</ion-label>
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
              <img src="./assets/kamus.jpg">
            <ion-label>Kamus Indones..</ion-label>
            <ion-label style="font-size: 15px; color:blue; text-decoration: underline; " (click)="konfkembali()">Kembali</ion-label>
          </div>
        </ion-col>
  </ion-row>
  </ion-grid>
  
  <div>
  <h6><b>Buku yang terpesan</b></h6>
</div>
<ion-grid>
  <ion-row>
  <ion-col size="3">
    <div>
      <img (click)="konfpemesanan()"src="./assets/novel.jpg">
    <ion-label>The Book of L...</ion-label>
  </div>
  </ion-col>
</ion-row>
</ion-grid>
</div>

  <div *ngIf="selectedSegment == 'kembali'">
    <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div>
            <img src="./assets/kamus.jpg">
          <ion-label>Kamus Indones..</ion-label>
        </div>
      </ion-col>
</ion-row>
</ion-grid>
  </div>

</ion-content>
