<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>perpusKu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doLogout()">Keluar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--<header class="teks">1 dari 50 ></header>-->
  <!--<div *ngFor="let data of userRecords | filter:filterTerm"-->
    
    <ion-card>
      <ion-card-content>
         <ion-label style="font-weight: bold;color: black; margin-left: 10px;">Rekomendasi Untuk Kamu</ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="3" *ngFor="let book of books"
            routerLink="/detail-buku/{{book.id}}">
              <img class="book" src="{{book.data.cover}}">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  <ion-grid>
    <ion-row style="text-align: center;">
      <ion-col size="6" *ngFor="let book of books"
      routerLink="/detail-buku/{{book.id}}">
          <img src="{{book.data.cover}}">
          <ion-text style="text-align: left;">{{book.data.title}}</ion-text>
          <br><ion-note style="text-align: left;">{{book.data.penulis}}</ion-note>
          <div linespace></div>
      </ion-col>  
    </ion-row>  

    </ion-grid>
</ion-content>
