ion-title {
    text-align : center;
}

.teks {
    text-align: right;
    color: grey;
}

img  {
    height: 150px;
    width: 120px;
}

.my-custom-menu {
    --width: 500px;
  }

ion-toolbar{
    --background: #ffecae;
}

ion-title{
    font-family: "chewy";
    color: #0F8EAA;
}

[linespace]{
    height: 5px;
}

.book{
    width: 70px;
    height: 75px;
    border-radius: 3px;
}


ion-card{
    --background: #ffecae;
}