<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" (click)="dissmiss()"></ion-icon>
  </ion-buttons>
 

    <ion-title style="font-size: medium; text-align: center;">The Book of Lost Friends</ion-title>
  </ion-toolbar>

  
</ion-header>

<ion-content>
  <img class="book" src="./assets/novel.jpg">
  <ion-button class="buttonn" expand="block" color="medium" style="padding-left: 5px;padding-right: 5px;" (click)="presentAlertConfirm()">Batalkan Pemesanan</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Lisa Wingate</ion-card-subtitle>
      <ion-card-title>The Book of Lost Friend</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A new novel inspired by historical events: a story of three young women on a journey in search 
      of family amidst the destruction of the post-CIvil War South, and a modern-day teacher who
      rediscover their story and its connection to her own students' lives.

      Halaman : 325
      diterbitkan : 7 April 2020, Ballantine Books<br>
      <ion-label style="color:blue; text-decoration: underline; font-size: 10;" (click)="konfpesan()">Konfirmasi Pemesanan</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
