<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-content>
  <div class="ion-padding">
    <img class="logo" src="./assets/poto.png">
    
    <h3>perpusKu</h3>
    </div>
    <div space></div>
    <div class="input">
      <p style="text-align: center; padding: 5px;">We will send the password recovery url to your email</p>
      <ion-item transparent>
        <ion-input placeholder="your@email.com" [(ngModel)]="email"></ion-input>
      </ion-item>
      <div linespace></div>
      <ion-buttons>
      <ion-button style="margin-left: auto;margin-right: auto;" type="submit" color="primary" fill="solid" size="small" (click)="forgot()"  [disabled]="loading">Reset Password</ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button style="margin-left: auto;margin-right: auto;"color="dark" fill="clear" size="small" (click)="login()">LOGIN</ion-button>
    </ion-buttons>
    </div>
</ion-content>