<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <div class="ikon">
        <ion-buttons slot="start" >
          <ion-icon name="person" size="large" (click)="profil()"></ion-icon>
        </ion-buttons>
      </div>
      
      <ion-buttons slot="end">
        <ion-icon name="search" style="font-size: 24px; margin-left: 5px;" (click)="searching()"></ion-icon>
      </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Agama</ion-item>
        <ion-item>Fiksi</ion-item>
        <ion-item>Hiburan</ion-item>
        <ion-item>Hukum</ion-item>
        <ion-item>Kamus</ion-item>
        <ion-item>Non-Fiksi</ion-item>
        <ion-item>Pendidikan</ion-item>
        <ion-item>Sastra</ion-item>
        <ion-item>Teknologi</ion-item>
      </ion-list>

        
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
  </ion-app>