<ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='home-admin'></ion-back-button>
      </ion-buttons>
    <ion-title>Data Petugas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-7 >No</ion-col>
        <ion-col col-7 >Id Staff</ion-col>
        <ion-col col-7 >Nama</ion-col>
        <ion-col col-7 >Alamat</ion-col>
        <ion-col col-7 >Nomor Handphone</ion-col>
        <ion-col col-7 >E-mail</ion-col>
        <ion-col col-7 ></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<ion-card>
  <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-7 >1</ion-col>
            <ion-col col-7 >001</ion-col>
            <ion-col col-7 >Karina</ion-col>
            <ion-col col-7 >Yogyakarta</ion-col>
            <ion-col col-7 >0912345676</ion-col>
            <ion-col col-7 >Karina@email.com</ion-col>
            <ion-col col-7 >
                  <ion-icon (click)="_popover($event)"  name="ellipsis-vertical"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-list>
</ion-card>
</ion-content>
</ion-router-outlet>