<ion-list>
    <ion-item button *ngFor="let item of list" (click)="_dismiss(item)">
      <div>{{item}}</div>
    </ion-item>
    <ion-item line="none" detail="false" button (click)="_dismiss('dismiss')">
      Hapus
    </ion-item>
</ion-list>