<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='tabs'></ion-back-button>
    </ion-buttons>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="search by title" (ionInput)="search($event)"></ion-searchbar>
        <ion-item *ngFor="let user of resultArr">
          <ion-grid>
            <ion-row *ngFor="let book of books">
              <ion-col size="3"><img style="width: 40px; height: 45px;" src="{{book.data.cover}}" /> </ion-col>
              <ion-col >
                <ion-text>{{book.data.title}}</ion-text>
                <br><ion-note>{{book.data.penulis}}</ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
</ion-content>
