
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" (click)="dashboard()"></ion-icon>
  </ion-buttons>
    <ion-title style="text-align: center;">Pengembalian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-7>No</ion-col>
        <ion-col col-7>No Anggota</ion-col>
        <ion-col col-7>Kode Buku</ion-col>
        <ion-col col-7>Tanggal Pinjam</ion-col>
        <ion-col col-7>Tanggal Kembali</ion-col>
        <ion-col col-7>Denda</ion-col>
        <ion-col col-7></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<ion-card>
  <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-7>1</ion-col>
            <ion-col col-7>18002</ion-col>
            <ion-col col-7>230A</ion-col>
            <ion-col col-7>1-01-2020</ion-col>
            <ion-col col-7>12-01-2020</ion-col>
            <ion-col col-7>5000</ion-col>
            <ion-col col7>
              <ion-icon (click)="_popover($event)"  name="ellipsis-vertical"></ion-icon>
        </ion-col>
          </ion-row>
        </ion-grid>
  </ion-list>
</ion-card>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="scanqr()">
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
