<ion-router-outlet>
<ion-content>
  <div class="ion-padding">
<img class="logo" src="./assets/poto.png">

<h3>perpusKu</h3>
</div>

<div class="input">
  <ion-item transparent>
    <ion-icon name="person-outline"></ion-icon>
    <ion-input name="name" placeholder="Nama Lengkap" type="name" [(ngModel)]="user.name"></ion-input>
  </ion-item>
  <ion-item transparent>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-input name="email" placeholder="your@email.com" type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item transparent>
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input name="password" placeholder="Password" type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item transparent>
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input name="cpassword" placeholder="Confirm Password" type="password" [(ngModel)]="user.cpassword"></ion-input>
  </ion-item>
  <div linespace></div>
  <ion-button color="primary" fill="solid" size="small" expand="block" (click)="register()">Daftar</ion-button>
  <ion-label style="text-align: center;color: blue;" (click)="login()">Login</ion-label> 
</div>

</ion-content> 
</ion-router-outlet>